.container-sild .img-hieght {
    height: 90vh;
}

.navbar .link {
    text-decoration: none;
    margin-right: 8px;
    color: #000000b7;
    padding: 5px 0;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}

.navbar .link:hover {
    color: #000;
}

.product-h2 {
    text-align: center;
    padding: 20px;
}

.card-list {
    text-align: center;
    width: 100%;
}

.card-list .card {
    height: 500px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.card-list .image {
    width: 100%;
    padding: 0 30px;
    height: 200px;
}

.card-list .card-body .description {
    height: 100px;
    overflow: hidden;
}

.card-list .card-body .card-title {
    height: 50px;
    overflow: hidden;
}

