.navbar {
    background-color: #e4e4e4cb;
}
.container-sild .img-hieght {
    height: 90vh;
}
.navbar .link {
    text-decoration: none;
    margin-right: 8px;
    color: #000000b7;
    padding: 5px 0;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}
.navbar .link:hover {
    color: #000;
}

/* Cart */
.product-h2 {
    text-align: center;
    padding: 20px;
}
.card-list {
    text-align: center;
    width: 100%;
}
.card-list .card {
    height: 500px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.card-list .image {
    width: 100%;
    padding: 0 30px;
    height: 200px;
}
.card-list .card-body .description {
    height: 100px;
    overflow: hidden;
}
.card-list .card-body .card-title {
    height: 50px;
    overflow: hidden;
}
.card-list .btn {
    background-color: #e4e4e4cb;
}

/* categories */
.cat h1 {
    text-align: center;
    margin: 35px;
}
.cat .btn {
    background-color: #e4e4e4cb;
}

.details img {
    width: 100%;
    height: 60%;
    margin-top: 20vh;
}
.details .right {
    margin-top: 25vh;
}
.details .right span {
    color: hwb(0 4% 95% / 0.726);
}

/* footer css */
.foot-up {
    margin-top: 30vh;
    background-color: #e4e4e4cb;
    padding: 10vh 0;
}
.foot-up h3 {
    font-weight: 800;
}
.foot-up h6 {
    font-weight: 750;
    line-height: 35px;
}
.foot-up .foot-icon p {
    border: 1px solid #6c757d;
    border-radius: 50%;
    padding: 2px 10px 10px;
    color: #6c757d;
    font-size: 25px;
    transition: .7s;
}
.foot-up .foot-icon p:hover {
    color: #000;
}
.foot-up .inputs {
    display: flex;
    margin-top: 5vh;
}
.foot-up .input-email {
    width: 70%;
    outline: none;
    border: none;
    justify-content: flex-start;
    padding: 9px;
    font-size: 16px;
    font-weight: 750;
}
.foot-up .input-submit {
    width: 30%;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 750;
}